@use "pages/about";
@use "pages/home";
@use "pages/notfound";
@use "pages/housing";
@use "layout/Navbar";
@use "layout/Footer";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');




* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0 auto;
    width: 100%;
}

header, main {
    margin: 15px;
    @media (min-width: 1024px) {
        margin: 30px auto;
        padding: 0px 30px;
        max-width: 1240px;
    }
}

header {
    padding: 0;
    @media (min-width: 1024px) {
        padding: 0 30px;
    }
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
    
    &:active {
        text-decoration:underline;
    }
}