@import "../utils/variables";



@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin justify-align-center {
    justify-content: center;
    align-items: center;
}

@mixin carousel-hidden {
    width: 100%;
    overflow: hidden;
}