

.header-banner {
    height: 111px;
    /*background-image: url("../../assets/images/background.png");*/
    background-color: rgba($color: #000000, $alpha: 0.30); 
    border-radius: 10px;
    display: flex;
    h1 {
        font-size: 24px;
        font-weight: 700;
        color: white;
        margin-left: 15px;
        justify-content: center;
        
    }
}

.container-housings {
    
}