@import "../utils/variables";

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 210px;
    background-color: black;
    color: white;
    
    img {
        width: 145px;
        height: auto;
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(39deg) brightness(200%) contrast(101%);
    }
    p {
        width: 150px;
        @media (min-width: 1024px) {
            width: 100vw;
        }
    }
}