@import "../utils/variables";

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    @media (min-width: 1024px) {
        margin-bottom: 30px;
    }
    img {
        width: 145px;
        height: auto;
    }
    ul {
        display: flex;
        gap: 2rem;
        @media (max-width: 375px) {
            text-transform: uppercase;
            gap: 1rem;
            font-size: 12px;
            font-weight: 500;
        }
        .active {
            text-decoration: underline;
        }
    }
}