@import "../utils/variables";
@import "../utils/mixins";

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    @media (min-width: 1024px) {
        margin-bottom: 30px;
    }
    img {
        width: 145px;
        height: auto;
    }
    ul {
        display: flex;
        text-transform: uppercase;
        gap: 1.5rem;
        font-size: 12px;
        @media (max-width: 374px) {
            gap: 1rem;
            font-size: 10px;
            font-weight: 500;
        }
        @media (min-width: 1024px) {
            text-transform: initial;
            font-size: 17px;
            gap: 3rem;
        }
        .active {
            text-decoration: underline;
        }
    }
}