@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@media (min-width: 1024px) {
  .container-about-list {
    margin: 30px 9%;
  }
}

.container-housings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  border-radius: 20px;
}
@media (min-width: 1024px) {
  .container-housings {
    background-color: #f6f6f6;
    gap: 30px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.container-housings .card-housing {
  position: relative;
}
.container-housings .card-housing img {
  border-radius: 10px;
  width: 100%;
  height: 225px;
  object-fit: cover;
}
@media (min-width: 1024px) {
  .container-housings .card-housing img {
    width: 100%;
    height: 340px;
  }
}
.container-housings .card-housing p {
  position: absolute;
  color: white;
  font-size: 18px;
  font-weight: 700;
  z-index: 10;
  bottom: 7px;
  left: 15px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.header-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110px;
  border-radius: 10px;
  padding: 0px 100px 0px 0px;
}
@media (min-width: 1024px) {
  .header-banner {
    height: 220px;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
}
.header-banner h1 {
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin-left: 15px;
  justify-content: center;
}
@media (min-width: 1024px) {
  .header-banner h1 {
    font-size: 43px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
  }
}

.container-notfound {
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}

.title-404 {
  font-size: 100px;
  font-weight: 700;
  margin: 80px auto;
}
@media (min-width: 1024px) {
  .title-404 {
    font-size: 150px;
  }
}

.p-404 {
  color: #FF6060;
  font-size: 17px;
  font-weight: 500;
  margin: 90px 50px;
}
@media (min-width: 1024px) {
  .p-404 {
    font-size: 24px;
  }
}

a.link-home {
  text-decoration: underline;
}

.container-dropdown {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  max-width: 1024px;
}
@media (min-width: 1024px) {
  .container-dropdown {
    margin-bottom: 15px;
  }
}
.container-dropdown .click-toggle {
  padding: 0px;
  margin: 0;
  height: 30px;
}
@media (min-width: 1024px) {
  .container-dropdown .click-toggle {
    height: 50px;
  }
}
.container-dropdown h3 {
  position: absolute;
  color: white;
  top: 6px;
  left: 10px;
  font-size: 15px;
  font-weight: 600;
  margin: 0;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .container-dropdown h3 {
    font-size: 20px;
    top: 12px;
  }
}
.container-dropdown button {
  width: 100%;
  height: 30px;
  background-color: #FF6060;
  border: none;
  border-radius: 7px;
  padding: 0;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .container-dropdown button {
    height: 50px;
  }
}
.container-dropdown button svg {
  width: 32px;
  font-size: 18px;
  position: absolute;
  top: 5px;
  right: 5px;
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(338deg) brightness(100%) contrast(103%);
}
@media (min-width: 1024px) {
  .container-dropdown button svg {
    font-size: 24px;
    top: 12px;
    right: 15px;
  }
}
.container-dropdown .content-dropdown {
  background-color: #f6f6f6;
  margin: 0;
  font-size: 17px;
  line-height: 25px;
  padding: 15px;
  border-radius: 10px;
}
.container-dropdown .content-dropdown .content-drop {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.rating {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
@media (min-width: 1024px) {
  .rating {
    gap: 12px;
  }
}

.star {
  font-size: 18px;
  color: #e3e3e3; /* Couleur pour les étoiles vides */
}
@media (min-width: 1024px) {
  .star {
    font-size: 24px;
  }
}

.star.filled {
  color: #FF6060; /* Couleur pour les étoiles remplies */
}

.img-carousel {
  position: relative;
}
.img-carousel .container-carousel button {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 24px;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 1024px) {
  .img-carousel .container-carousel button {
    font-size: 50px;
  }
}
.img-carousel .container-carousel .btn-right {
  left: 100%;
  transform: translate(-100%, -50%);
}

.carousel-indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  font-size: 16px;
  color: white;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
}

.header-img {
  width: 100%;
  height: 255px;
  border-radius: 10px;
  object-fit: cover;
}
@media (min-width: 1024px) {
  .header-img {
    height: 415px;
  }
}

h2 {
  color: #FF6060;
  font-weight: 500;
  margin: 10px 0px;
}
@media (min-width: 1024px) {
  h2 {
    font-size: 34px;
  }
}

p {
  font-weight: 500;
  margin: 10px 0px;
}

.tags {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px 0px;
  width: 100%;
  gap: 10px;
  padding: 0;
}
.tags .tag {
  display: inline;
  text-wrap: nowrap;
  background-color: #FF6060;
  color: white;
  font-size: 12px;
  font-weight: 600;
  border-radius: 10px;
  text-align: center;
  padding: 5px 25px;
}
@media (min-width: 1024px) {
  .tags .tag {
    font-size: 14px;
  }
}

.host-ratting {
  display: inline-flex;
  justify-content: space-between;
  margin: 10px 0px;
  gap: 10px;
}
@media (min-width: 1024px) {
  .host-ratting {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    gap: 15px;
  }
}
.host-ratting .host-member {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
@media (min-width: 1024px) {
  .host-ratting .host-member {
    gap: 20px;
  }
}
.host-ratting .host-member img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
@media (min-width: 1024px) {
  .host-ratting .host-member img {
    width: 64px;
    height: 64px;
  }
}
.host-ratting .host-member p.member-name {
  color: #FF6060;
  font-size: 16px;
  text-align: center;
  /*white-space: pre-line;*/
}
@media (min-width: 1024px) {
  .host-ratting .host-member p.member-name {
    font-size: 18px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}
@media (min-width: 1024px) {
  .form {
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px 15px 0px;
  }
}

.drop-down {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .drop-down {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}
@media (min-width: 1024px) {
  nav {
    margin-bottom: 30px;
  }
}
nav img {
  width: 145px;
  height: auto;
}
nav ul {
  display: flex;
  text-transform: uppercase;
  gap: 1.5rem;
  font-size: 12px;
}
@media (max-width: 374px) {
  nav ul {
    gap: 1rem;
    font-size: 10px;
    font-weight: 500;
  }
}
@media (min-width: 1024px) {
  nav ul {
    text-transform: initial;
    font-size: 17px;
    gap: 3rem;
  }
}
nav ul .active {
  text-decoration: underline;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 210px;
  background-color: black;
  color: white;
}
footer img {
  width: 145px;
  height: auto;
  margin-bottom: 10px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(39deg) brightness(200%) contrast(101%);
}
@media (min-width: 1024px) {
  footer img {
    margin-bottom: 20px;
  }
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
}

header, main {
  margin: 15px;
}
@media (min-width: 1024px) {
  header, main {
    margin: 30px auto;
    padding: 0px 30px;
    max-width: 1240px;
  }
}

header {
  padding: 0;
}
@media (min-width: 1024px) {
  header {
    padding: 0 30px;
  }
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
}
a:active {
  text-decoration: underline;
}

/*# sourceMappingURL=index.css.map */
