/* Error: Expected identifier.
 *   ,
 * 6 |     margin: $15;
 *   |              ^
 *   '
 *   src\sass\pages\_home.scss 6:14  @use
 *   src\sass\style.scss 2:1         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected identifier.\a   \2577 \a 6 \2502      margin: $15;\d\a   \2502               ^\a   \2575 \a   src\\sass\\pages\\_home.scss 6:14  @use\a   src\\sass\\style.scss 2:1         root stylesheet";
}
